@using Enjoy.Core.UIElements
@using Enjoy.Core;

@model Enjoy.Core.ViewModels.CardCounponViewModel

<div id="page-wrapper">
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">创建券</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-6">
            @using (Html.BeginFormAntiForgeryPost(Url.Action("CreateCouponPost", new { ReturnUrl = Request.QueryString["ReturnUrl"] })))
            {
                @Html.HiddenFor(o => o.Id)
                @Html.HiddenFor(o => o.CreatedTime)
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#profile" data-toggle="tab">基本信息</a>
                    </li>
                    <li>
                        <a href="#userule" data-toggle="tab">使用规则</a>
                    </li>
                    <li>
                        <a href="#settings" data-toggle="tab">扩展设置</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="profile">
                        <h4>&nbsp;</h4>
                        <div class="form-group ">
                            @Html.Partial("Component/_RadioPartial", new RadioUIElement(Html.NameOf(o => o.CardType), CardTypes.DISCOUNT.ToString(),
                                    new RadioUIElement.RadioItem[]{
                                                new RadioUIElement.RadioItem(CardTypes.DISCOUNT.ToString(),Html.NameOf(o=>o.CardType),"折扣券",CardTypes.DISCOUNT.ToString()),
                                                new RadioUIElement.RadioItem(CardTypes.GIFT.ToString(),Html.NameOf(o=>o.CardType),"礼品券",CardTypes.GIFT.ToString()),
                                                new RadioUIElement.RadioItem(CardTypes.CASH.ToString(),Html.NameOf(o=>o.CardType),"代金券",CardTypes.CASH.ToString()),
                                                new RadioUIElement.RadioItem(CardTypes.GENERAL_COUPON.ToString(),Html.NameOf(o=>o.CardType),"优惠券",CardTypes.GENERAL_COUPON.ToString()),
                                                new RadioUIElement.RadioItem(CardTypes.GROUPON.ToString(),Html.NameOf(o=>o.CardType),"团购券",CardTypes.GROUPON.ToString()),
                                         }))                            
                            @Html.Partial("Component/_TextPartial", new TextUIElement(Html.NameOf(o => o.BaseInfo.Title), "标题", Model.BaseInfo.Title, 20, true))
                            <fieldset id="group_@(CardTypes.DISCOUNT.ToString())">
                                @Html.Partial("Component/_DecimalPartial", new DecimalUIElement(Html.NameOf(o => o.Discount.Discount), "折扣额度", Model.Discount.Discount, true))
                            </fieldset>
                            <fieldset id="group_@(CardTypes.GIFT.ToString())">
                                @Html.Partial("Component/_TextAreaPartial", new TextAreaUIElement(Html.NameOf(o => o.Gift.Detail), "兑换详情", Model.Gift.Detail, 120, false))
                            </fieldset>
                            <fieldset id="group_@(CardTypes.CASH.ToString())">
                                @Html.Partial("Component/_DecimalPartial", new DecimalUIElement(Html.NameOf(o => o.Cash.LeastCost), "启用金额", Model.Cash.LeastCost, false))
                                @Html.Partial("Component/_DecimalPartial", new DecimalUIElement(Html.NameOf(o => o.Cash.ReduceCost), "减免金额", Model.Cash.ReduceCost, false))
                            </fieldset>
                            <fieldset id="group_@(CardTypes.GROUPON.ToString())">
                                @Html.Partial("Component/_DecimalPartial", new DecimalUIElement(Html.NameOf(o => o.Groupon.DValue), "票面价值", Model.Groupon.DValue, false))
                                @Html.Partial("Component/_DecimalPartial", new DecimalUIElement(Html.NameOf(o => o.Groupon.SaleValue), "售价", Model.Groupon.SaleValue, false))
                                @Html.Partial("Component/_TextAreaPartial", new TextAreaUIElement(Html.NameOf(o => o.Groupon.Detail), "团购详情", Model.Groupon.Detail, 120))
                            </fieldset>
                            <fieldset id="group_@(CardTypes.GENERAL_COUPON.ToString())">
                                @Html.Partial("Component/_TextAreaPartial", new TextAreaUIElement(Html.NameOf(o => o.General.DefaultDetail), "使用详情", Model.General.DefaultDetail, 102, false))
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <label>使用门槛</label>
                            @Html.Partial("Component/_RadioPartial", new RadioUIElement(Html.NameOf(o => o.UseLimitType), UseLimitTypes.None.ToString(),
                                    new RadioUIElement.RadioItem[]{
                                        new RadioUIElement.RadioItem("uselimit_"+UseLimitTypes.None.ToString(),"uselimit_"+ Html.NameOf(o=>o.UseLimitType),"无门槛",UseLimitTypes.None.ToString(),"abbc"),
                                        new RadioUIElement.RadioItem("uselimit_"+UseLimitTypes.Specified.ToString(),"uselimit_"+ Html.NameOf(o=>o.UseLimitType),"消费满",UseLimitTypes.Specified.ToString(),"group_uselimit_specific")
                                    }))
                            <fieldset id="group_uselimit_specific">
                                @Html.Partial("Component/_DecimalPartial", new DecimalUIElement(Html.NameOf(o => o.CostMoneyCanUse), "消费金额", Model.CostMoneyCanUse, true))
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <label>券有效期</label>
                            @Html.Partial("Component/_RadioPartial", new RadioUIElement(Html.NameOf(o => o.BaseInfo.Dateinfo.Type), ExpiryDateTypes.DATE_TYPE_FIX_TIME_RANGE.ToString(),
                                    new RadioUIElement.RadioItem[]{
                                       new RadioUIElement.RadioItem("expiry_"+ExpiryDateTypes.DATE_TYPE_FIX_TIME_RANGE.ToString(),"expiry_"+ Html.NameOf(o=>o.BaseInfo.Dateinfo.Type),"固定时间",ExpiryDateTypes.DATE_TYPE_FIX_TIME_RANGE.ToString(),"group_expiry_fixed"),
                                       new RadioUIElement.RadioItem("expiry_"+ExpiryDateTypes.DATE_TYPE_FIX_TERM.ToString(),"expiry_"+ Html.NameOf(o=>o.BaseInfo.Dateinfo.Type),"指定时间",ExpiryDateTypes.DATE_TYPE_FIX_TERM.ToString(),"group_expiry_specified")
                                    }))
                            <fieldset id="group_expiry_fixed">
                                <div class="row">
                                    <div class="col-lg-6">
                                        @Html.Partial("Component/_DatePickerPartial",
                                       new DatePickerUIElement(Html.NameOf(o=>o.FixedExpiryDateDescriptor),
                                       "开始时间", Model.FixedExpiryDateDescriptor[0]))
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.Partial("Component/_DatePickerPartial", new DatePickerUIElement(Html.NameOf(o => o.FixedExpiryDateDescriptor),
                                       "结束时间", Model.FixedExpiryDateDescriptor[1]))
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset id="group_expiry_specified">
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <div class="form-group row">
                                            <label class="col-md-2 control-label">领券后</label>
                                            <div class="col-md-2">
                                                @Html.Partial("Component/_DecimalPartial",
                                               new DecimalUIElement(Html.NameOf(o => o.BaseInfo.Dateinfo.FixedBeginTerm), "",Model.BaseInfo.Dateinfo.FixedBeginTerm, false))
                                            
                                            </div>
                                            <label for="inputValue" class="col-md-2 control-label  pull-left">天</label>
                                            <label for="inputValue" class="col-md-2 control-label  pull-left">有效期</label>
                                            <div class="col-md-2  pull-left">
                                                @Html.Partial("Component/_DecimalPartial",
                                               new DecimalUIElement(Html.NameOf(o => o.BaseInfo.Dateinfo.FixedTerm), "",
                                               Model.BaseInfo.Dateinfo.FixedTerm, false))
                                            </div>
                                            <label class="col-md-2 control-label">天</label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        @Html.Partial("Component/_DecimalPartial", new DecimalUIElement(Html.NameOf(o => o.BaseInfo.Sku.Quantity), "库存量", Model.BaseInfo.Sku.Quantity, true))
                        @Html.Partial("Component/_DecimalPartial", new DecimalUIElement(Html.NameOf(o => o.BaseInfo.Getlimit), "每人限领", Model.BaseInfo.Getlimit, true))
                        @Html.Partial("Component/_TextPartial", new TextUIElement(Html.NameOf(o => o.BaseInfo.Notice), "操作提示", Model.BaseInfo.Notice, 100, true))
                        @Html.Partial("Component/_TextAreaPartial", new TextAreaUIElement(Html.NameOf(o => o.BaseInfo.Description), "使用须知", Model.BaseInfo.Description, 100, true))
                    </div>
                    <div class="tab-pane fade" id="userule">
                        <h4>&nbsp;</h4>
                        <div class="form-group ">
                            <label>适用商品</label>
                            @Html.Partial("Component/_RadioPartial", new RadioUIElement(Html.NameOf(o => o.UseProductScope), ApplyScopes.All.ToString(),
                              new RadioUIElement.RadioItem[]{
                                  new RadioUIElement.RadioItem("product_"+ApplyScopes.All.ToString(),"product_"+ Html.NameOf(o=>o.UseProductScope),"全部商品",ApplyScopes.All.ToString(),"abbc"),
                                  new RadioUIElement.RadioItem("product_"+ApplyScopes.Specified.ToString(),"product_"+ Html.NameOf(o=>o.UseProductScope),"特定商品",ApplyScopes.Specified.ToString(),"group_product_specific")

                              }))
                            <fieldset id="group_product_specific">
                                @Html.Partial("Component/_TextPartial", new TextUIElement(Html.NameOf(o => o.AdvancedInfo.UseCondition.AcceptCategory), "可以用商品", Model.AdvancedInfo.UseCondition.AcceptCategory, 120))
                                @Html.Partial("Component/_TextPartial", new TextUIElement(Html.NameOf(o => o.AdvancedInfo.UseCondition.RejectCategory), "不可用商品", Model.AdvancedInfo.UseCondition.RejectCategory, 120))
                            </fieldset>
                        </div>

                        <div class="form-group ">
                            <label>适用门店</label>
                            @Html.Partial("Component/_RadioPartial", new RadioUIElement(Html.NameOf(o => o.UseShopScope),ApplyScopes.All.ToString(),
                                 new RadioUIElement.RadioItem[] {
                                     new RadioUIElement.RadioItem("shop_"+ApplyScopes.All.ToString(),Html.NameOf(o=>o.UseShopScope),"全部门店",ApplyScopes.All.ToString(),"xxdd"),
                                     new RadioUIElement.RadioItem("shop_"+ApplyScopes.Specified.ToString(),Html.NameOf(o=>o.UseShopScope),"特定门店",ApplyScopes.Specified.ToString(),"group_shop_specific")
                                 }))
                            <fieldset id="group_shop_specific">
                                @Html.Partial("Component/_MultiChoicePartial",
                               new MultiChoiceUIElement(Html.NameOf(o => o.AllowShops), "选择门店", new MultiChoiceUIElement.ChoiceItem[] {
                                   new MultiChoiceUIElement.ChoiceItem(Html.NameOf(o=>o.AllowShops),"1","门店一",true),
                                   new MultiChoiceUIElement.ChoiceItem(Html.NameOf(o=>o.AllowShops),"2","门店二",true),
                                   new MultiChoiceUIElement.ChoiceItem(Html.NameOf(o=>o.AllowShops),"3","门店三",true),
                                   new MultiChoiceUIElement.ChoiceItem(Html.NameOf(o=>o.AllowShops),"3","门店四",true)
                               }))
                            </fieldset>
                        </div>

                        @*<div class="form-group ">
                                <label>可用时段</label>
                                @Html.Partial("Component/_RadioPartial", new RadioUIElement(Html.NameOf(o => o.CardType), "",
                                  new RadioUIElement.RadioItem[]
                                  {
                                     new RadioUIElement.RadioItem(ApplyScopes.All.ToString(),Html.NameOf(o=>o.AdvancedInfo.UseCondition.AcceptCategory),"所有时段","abbc"),
                                     new RadioUIElement.RadioItem(ApplyScopes.Specific.ToString(),Html.NameOf(o=>o.AdvancedInfo.UseCondition.RejectCategory),"特定时段","abbc")
                                 }, null, CardTypes.GROUPON.ToString()))
                            </div>*@
                        @Html.Partial("Component/_MultiChoicePartial",
                       new MultiChoiceUIElement(Html.NameOf(o => o.AdvancedInfo.BusinessService), "商家服务",
                       new MultiChoiceUIElement.ChoiceItem[] {
                           new MultiChoiceUIElement.ChoiceItem(Html.NameOf(o=>o.AdvancedInfo.BusinessService),"BIZ_SERVICE_DELIVER",EnjoyConstant.BusinessService["BIZ_SERVICE_DELIVER"],true),
                           new MultiChoiceUIElement.ChoiceItem(Html.NameOf(o=>o.AdvancedInfo.BusinessService),"BIZ_SERVICE_FREE_PARK",EnjoyConstant.BusinessService["BIZ_SERVICE_FREE_PARK"],true),
                           new MultiChoiceUIElement.ChoiceItem(Html.NameOf(o=>o.AdvancedInfo.BusinessService),"BIZ_SERVICE_WITH_PET",EnjoyConstant.BusinessService["BIZ_SERVICE_WITH_PET"],true),
                           new MultiChoiceUIElement.ChoiceItem(Html.NameOf(o=>o.AdvancedInfo.BusinessService),"BIZ_SERVICE_FREE_WIFI",EnjoyConstant.BusinessService["BIZ_SERVICE_FREE_WIFI"],true)
                           }))
                        @Html.Partial("Component/_SwitchPartial", new SwitchUIElement(Html.NameOf(o => o.BaseInfo.CanGivefriend), "可否赠送好友", Model.BaseInfo.CanGivefriend))
                        @Html.Partial("Component/_SwitchPartial", new SwitchUIElement(Html.NameOf(o => o.BaseInfo.CanShare), "与他人共享", Model.BaseInfo.CanShare))
                        @Html.Partial("Component/_SwitchPartial", new SwitchUIElement(Html.NameOf(o => o.AdvancedInfo.UseCondition.CanUseWithOtherDiscount), "可与其他优惠共享", Model.AdvancedInfo.UseCondition.CanUseWithOtherDiscount))
                    </div>
                    <div class="tab-pane fade " id="settings">
                        <h4>&nbsp;</h4>
                        @Html.Partial("Component/_PalettePartial", new PaletteUIElement(Html.NameOf(o => o.BaseInfo.Color), "卡面背景色", Model.BaseInfo.Color))
                        @Html.Partial("Component/_ImgageUploadUIelement", new ImageUploadUIElement(Html.NameOf(o => o.BaseInfo.LogoUrl),
                       "Logo图片", MediaUploadTypes.Material, Model.BaseInfo.LogoUrl,true, Model.BaseInfo.LogoUrl))
                        @*@Html.Partial("Component/_TextPartial", new TextUIElement(Html.NameOf(o => o.BaseInfo.CenterTitle), "入口标题", Model.BaseInfo.CenterTitle, "", string.Empty, true))
                            @Html.Partial("Component/_TextPartial", new TextUIElement(Html.NameOf(o => o.BaseInfo.CenterUrl), "入口地址", Model.BaseInfo.CenterUrl, "", string.Empty, true))
                            @Html.Partial("Component/_TextPartial", new TextUIElement(Html.NameOf(o => o.BaseInfo.CenterSubTitle), "入口提示", Model.BaseInfo.CenterSubTitle, "", string.Empty, true))*@
                        @Html.Partial("Component/_TextImageContainer", new TextImageContainerUIElement(Html.NameOf(o => o.AdvancedInfo.TextImageList), Model.AdvancedInfo.TextImageList.ToArray()))

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-offset-4">
                            <button type="submit" class="btn btn-default ">创建</button>
                            <button type="reset" class="btn btn-default">清除</button>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="col-lg-6">
            <p>效果展示</p>
            <img src="/themes/enjoytheme/content/images/coupon_demo.png" />
        </div>
    </div>
</div>

@using (Script.Foot())
{
    <script src="/Themes/EnjoyTheme/Content/home/js/jquery-1.11.1.min.js"></script>
    <script src="/Themes/EnjoyTheme/Content/scripts/jquery.cxselect.min.js"></script>
    <script src="/Themes/EnjoyTheme/Content/scripts/ajaxfileupload.js"></script>
    <script src="/Themes/EnjoyTheme/Content/plugs/jquery-html5Validate/jquery-html5Validate.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("form").html5Validate(function () {
                alert("全部通过！");
                this.submit();
            },
                {
                    // novalidate: false

                });
        });
    </script>
}