@model Enjoy.Core.ViewModels.CreatingSubMerchantViewModel
<div id="page-wrapper">
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">创建商户</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-4 ">

        </div>
        <div class="col-md-4 ">
            @using (Html.BeginFormAntiForgeryPost(Url.Action("Create", new { ReturnUrl = Request.QueryString["ReturnUrl"] })))
            {
                <fieldset>
                    <div class="form-group">
                        <label class="control-label">商户名称</label>
                        @Html.TextBoxFor(o => o.BrandName, new { @class = "form-control", type = "tel", placeholder = "输入商户名称", autofocus = "autofocus" })  @Html.ValidationMessageFor(o => o.BrandName)
                    </div>
                    <div class="form-group">
                        @*<label class="control-label">一级分类</label>
                            <select id="publishActions" name="@Html.NameOf(m => m.PrimaryCategoryId)" class="form-control">
                                @foreach (var category in Model.ApplyProtocol.Categories)
                                {
                                    @Html.SelectOption(Model.PrimaryCategoryId, category.PrimaryCategoryId, category.CategoryName)
                                }
                            </select>*@
                    </div>
                    <div class="form-group">
                        <label class="control-label">二级分类</label>
                        <select id="publishActions" name="@Html.NameOf(m => m.SecondaryCategoryId)" class="form-control">
                            @foreach (var category in Model.ApplyProtocol.Categories)
                            {
                                @Html.SelectOption(Model.PrimaryCategoryId, category.PrimaryCategoryId, category.CategoryName)
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(o => o.AgreementMediaId)
                        <label>上传营业执照</label>
                        <input type="file">
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(o => o.OperatorMediaId)
                        <label>上传所有人身份证</label>
                        <input type="file">
                    </div>
                    <div class="form-group">
                        <img src="@Model.Contact" />
                        @Html.TextBoxFor(o => o.PrimaryCategoryId, new { @class = "form-control", type = "tel", placeholder = "联系人", autofocus = "autofocus" })
                        <label></label>
                    </div>
                    <button type="submit" class="btn btn-lg btn-success btn-block">保存</button>
                </fieldset>
            }
        </div>
        <div class="col-md-4 ">

        </div>
    </div>
</div>

@using (Script.Foot())
{
    <script>        
        $(document).ready(function () {
            $.get("/Merchant/GetApplyProtocol", function (result) {
                
            });          
        });
    </script>
}