@using Enjoy.Core.UIElements;
@using Enjoy.Core.Services;
@model Enjoy.Core.ViewModels.MerchantViewModel
<div id="page-wrapper">
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">创建商户</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-4 ">

        </div>
        <div class="col-md-4 ">
            @using (Html.BeginFormAntiForgeryPost(Url.Action("CreatePost", new { ReturnUrl = Request.QueryString["ReturnUrl"] })))
            {
                @Html.HiddenFor(m => m.Merchant.Id)
                @Html.Partial("Component/_TextPartial", new TextUIElement(Html.NameOf(o => o.Merchant.BrandName), "商户名称", Model.Merchant.BrandName, 20, true))
                <fieldset>
                    <div class="form-group " id="ApplyProtocol">
                        <div class="form-group form-inline pull-left">
                            <label class="control-label  ">商户分类</label>
                            <select class="form-control  first " name="@Html.NameOf(m => m.Merchant.PrimaryCategoryId)" data-value="@Model.Merchant.PrimaryCategoryId"></select>
                            <select class="form-control second" name="@Html.NameOf(m => m.Merchant.SecondaryCategoryId)" data-value="@Model.Merchant.SecondaryCategoryId"></select>
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-lg-3">
                        @Html.Partial("Component/_ImgageUploadUIelement", new ImageUploadUIElement(Html.NameOf(o => o.Merchant.LogoUrl), "上传Logo", Enjoy.Core.MediaUploadTypes.Material, Model.Merchant.LogoUrl, true, Model.Merchant.LogoUrl))
                    </div>
                    <div class="col-lg-3">
                        @Html.Partial("Component/_ImgageUploadUIelement", new ImageUploadUIElement(Html.NameOf(o => o.Merchant.AgreementMediaId), "上传营业执照", Enjoy.Core.MediaUploadTypes.AuthMaterial, Model.Merchant.AgreementMediaId, true, WeChatApiRequestBuilder.GenerateImageUrlByMediaId(Model.Merchant.AgreementMediaId)))
                    </div>
                    <div class="col-lg-3">
                        @Html.Partial("Component/_ImgageUploadUIelement", new ImageUploadUIElement(Html.NameOf(o => o.Merchant.OperatorMediaId), "上传身份证", Enjoy.Core.MediaUploadTypes.AuthMaterial, Model.Merchant.OperatorMediaId, true, WeChatApiRequestBuilder.GenerateImageUrlByMediaId(Model.Merchant.OperatorMediaId)))
                    </div>
                    <div class="col-lg-3">
                        @Html.Partial("Component/_ImgageUploadUIelement", new ImageUploadUIElement(Html.NameOf(o => o.Merchant.Protocol), "商户授权函", Enjoy.Core.MediaUploadTypes.AuthMaterial, Model.Merchant.Protocol, true, WeChatApiRequestBuilder.GenerateImageUrlByMediaId(Model.Merchant.Protocol)))
                        <a href="https://mp.weixin.qq.com/zh_CN/htmledition/comm_htmledition/res/cardticket/wx_cardticket_assist_agent.pdf" target="_blank">下载模版</a>
                    </div>
                </div>

                @Html.Partial("Component/_TextPartial", new TextUIElement(Html.NameOf(o => o.Merchant.Contact), "联系人", Model.Merchant.Contact, 10, false))

                @Html.Partial("Component/_TextPartial", new TextUIElement(Html.NameOf(o => o.Merchant.Mobile), "联系电话", Model.Merchant.Mobile, 20, false))
                @Html.Partial("Component/_TextPartial", new TextUIElement(Html.NameOf(o => o.Merchant.AppId), "AppId", Model.Merchant.AppId, 20, false))
                @Html.Partial("Component/_TextPartial", new TextUIElement(Html.NameOf(o => o.Merchant.Secrect), "Secrect", Model.Merchant.Secrect, 20, false))
                @*<div class="row">
                <div class="col-lg-12">
                    @Html.Partial("Component/_DatePickerPartial", new DatePickerUIElement(Html.NameOf(o => o.StartTimeString), "开始时间", Model.StartTimeString, "", true))
                </div>
            </div>*@
                <div class="row">
                    <div class="col-lg-12">
                        @Html.Partial("Component/_DatePickerPartial", new DatePickerUIElement(Html.NameOf(o => o.EndTimeString),
                           "授权截止时间", Model.EndTimeString,"", true))
                        <p class="help-block">结束时间应与授权函保持一致.</p>
                    </div>
                </div>
                <div class="form-group" id="address">
                    <div class="form-group form-inline pull-left">
                        <label class="control-label">商户地址</label>
                        <select class="form-control province" id="@Html.IdFor(o=>o.Province)" name="@Html.NameOf(m => m.Province)" data-value="@Model.Province"> </select>
                        <select class="form-control city" name="@Html.NameOf(m => m.City)" data-value="@Model.City"></select>
                        <select class="form-control area" name="@Html.NameOf(m => m.Area)" data-value="@Model.Area"></select>
                    </div>
                </div>
                <button type="submit" class="btn btn-lg btn-success btn-block">创建</button>
            }



        </div>
        <div class="col-md-4 ">

        </div>
    </div>
</div>

@using (Script.Foot())
{
    <script src="/Themes/EnjoyTheme/Content/home/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="/Themes/EnjoyTheme/Content/scripts/jquery.cxselect.min.js" type="text/javascript"></script>
    <script src="/Themes/EnjoyTheme/Content/scripts/ajaxfileupload.js" type="text/javascript"></script>
    <script src="/Themes/EnjoyTheme/Content/plugins/jquery-html5Validate/jquery-html5Validate.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.get("/Merchant/GetApplyProtocol", function (result) {
                $('#ApplyProtocol').cxSelect({
                    selects: ['first', 'second'],
                    jsonName: 'Text',
                    jsonValue: 'Id',
                    jsonSub: 'Items',
                    emptyStyle: 'none',
                    data: result
                });
                $.cxSelect.defaults.emptyStyle = 'none';
            });

            $('#address').cxSelect({
                url: '/themes/enjoytheme/content/data/cityData.min.js',
                selects: ['province', 'city', 'area'],
                emptyStyle: 'none'
            });

            $("form").html5Validate(function () {                
                this.submit();
            },
                {
                    // novalidate: false
                });
        });
    </script>
}