
@using Enjoy.Core.UIElements;
@using Enjoy.Core.Services;
@model Enjoy.Core.ViewModels.ShopViewModel
<div id="page-wrapper">
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">编辑门店</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-4 ">

        </div>
        <div class="col-md-4 ">
            @using (Html.BeginFormAntiForgeryPost(Url.Action("EditShopPost", new { ReturnUrl = "/merchant/myshops" })))
            {
                @Html.HiddenFor(m => m.Key)
                @Html.HiddenFor(m => m.MerchantId)

                <fieldset>
                    <div class="form-group   ">
                        <label class="control-label  ">商户名称</label>
                        @Html.TextBoxFor(o => o.Merchant, new { @readonly = "true", @class = "form-control" })
                    </div>
                </fieldset>
                @Html.Partial("Component/_TextPartial", new TextUIElement(Html.NameOf(o => o.ShopName), "门店名称", Model.ShopName, 12, true, "12以内的中文字符"))
                @Html.Partial("Component/_TextPartial", new TextUIElement(Html.NameOf(o => o.Leader), "店长", Model.Leader, 12, true, "12以内的中文字符"))
                <div class="form-group" id="address">
                    <div class="form-group form-inline pull-left">
                        <label class="control-label">商户地址</label>
                        <select class="form-control province" id="@Html.IdFor(o=>o.Address.Province)" name="@Html.NameOf(m => m.Address.Province)" data-value="@Model.Address.Province"> </select>
                        <select class="form-control city" name="@Html.NameOf(m => m.Address.City)" data-value="@Model.Address.City"></select>
                        <select class="form-control area" name="@Html.NameOf(m => m.Address.Area)" data-value="@Model.Address.Area"></select>
                    </div>
                </div>

                <button type="submit" class="btn btn-lg btn-success btn-block">保存</button>
                <button type="reset" class="btn btn-lg btn-default btn-block">重置</button>

            }



        </div>
        <div class="col-md-4 ">

        </div>
    </div>
</div>

@using (Script.Foot())
{
    <script src="/Themes/EnjoyTheme/Content/home/js/jquery-1.11.1.min.js"></script>
    <script src="/Themes/EnjoyTheme/Content/scripts/jquery.cxselect.min.js"></script>
    <script src="/Themes/EnjoyTheme/Content/scripts/ajaxfileupload.js"></script>
    <script>
        $(document).ready(function () {


            $.get("/Merchant/GetApplyProtocol", function (result) {
                $('#ApplyProtocol').cxSelect({
                    selects: ['first', 'second'],
                    jsonName: 'Text',
                    jsonValue: 'Id',
                    jsonSub: 'Items',
                    emptyStyle: 'none',
                    data: result
                });
                $.cxSelect.defaults.emptyStyle = 'none';
            });

            $('#address').cxSelect({
                url: '/themes/enjoytheme/content/data/cityData.min.js',
                selects: ['province', 'city', 'area'],
                emptyStyle: 'none'
            });

            $("input[type='file']").change(function (sender) {
                var target = $(this).attr("name");
                var setback_id = $(sender).attr("data-target");
                console.log($("#" + target).val());
                upload_cover(target, setback_id);
            });



        });
    </script>
}