@model Enjoy.Core.ViewModels.ShopListViewModel

<div id="page-wrapper">
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">门店管理</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">        
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> 门店列表
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                操作
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="#"></a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>商户名称</th>
                                            <th>门店名称</th>
                                            <th>地址</th>
                                            <th>坐标</th>
                                            <th>店长</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       @if (Model.Items == null || Model.Items.Count.Equals(0))
                                       {
                                           foreach(var item  in Model.Items)
                                           {
                                               <tr>
                                                   <td>@item.Id</td>
                                                   <td>@item.Merchant.BrandName</td>
                                                   <td>@item.ShopName</td>
                                                   <td>@item.Address</td>
                                                   <td>@item.Coordinate</td>
                                                   <td>@item.Leader</td>
                                                   <td>绑定管理员</td>
                                               </tr>
                                           }
                                       }
                                       else
                                       {
                                           <tr>
                                               <td colspan="7">没有数据</td>
                                           </tr>
                                       }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.col-lg-4 (nested) -->
                        <div class="col-lg-8">
                            <div id="morris-bar-chart"></div>
                        </div>
                        <!-- /.col-lg-8 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>

        </div>

    </div>
</div>

@using (Script.Foot())
{
    <script src="/Themes/EnjoyTheme/Content/home/js/jquery-1.11.1.min.js"></script>
    <script>
    $(document).ready(function() {


    });
    </script>
}