@model Enjoy.Core.UIElements.MultiChoiceUIElement
<div class="form-group ">
    <label>@Model.Text</label>
    <div class="switch" data-on="primary" data-off="info">
        @foreach (var item in Model.Items)
        {
            <label class="checkbox-inline">
                <input type="checkbox" id="@Model.Id" name="@Model.Name" value="@item.Value" @(item.Checked?"checked='checked'":"")>@item.Text
            </label>
        }
    </div>
</div>