@using Enjoy.Core;
@model Enjoy.Core.UIElements.PaletteUIElement
<div class="form-group input-group">
    <label >@Model.Text</label>
    <ul class="color-select_list ">
        @foreach(var item in Model.Colors)
        {
            <li class="color-select_item" style="@(item.Key==Model.Value?"":"border-color:rgb(227, 226, 229);")" data-color-key="@item.Key" data-color="@item.Value">
                <div class="color-select_content pointer"  href="javascript:;" style="background-color: @item.Value;"></div>
            </li>
        }
    </ul>
    <input type="hidden" id="@Model.Id" name="@Model.Name" value="@Model.Value"/>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var border_style = "border-color:rgb(227, 226, 229);"; //Not selected
        $("li").mousemove(function () {
            var that = $(this);
           
        });
        $("li.color-select_item").click(function () {         
            var that = $(this);
            $("li.color-select_item").each(function () {
                if ($(that).attr("data-color") === $(this).attr("data-color")) {
                    $(that).attr("style", "border-color:" + $(this).attr("data-color") + ";");
                    $("#@Model.Id").val($(this).attr("data-color-key"));
                }
                else {
                    $(this).attr("style", border_style);
                }
            });
        });
    });
</script>