@using Enjoy.Core
@model Enjoy.Core.UIElements.RadioUIElement
<div class="form-group" >
    @foreach (var radio in Model.Items)
    {
        <label id="@Model.Id" class="radio-inline control-label">
            <input type="radio" name="@Model.Name" id="@radio.Id" @(radio.Value.Equals(Model.Value) ? "checked=checked" : "") value="@radio.Value" WhenCheckedShow="@radio.WhenCheckedShow">@radio.Text
        </label>
    }
</div>
<script src="/Themes/EnjoyTheme/Content/plugs/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {      

         var linked = @Html.Raw(Model.Linked.ToJson());
        $("#@Model.Id > input[type='radio']").click(function () {
          
            var that = this;
            var linked = @Html.Raw(Model.Linked.ToJson());
           
            $.each(linked, function (index, value) {
                
                if (value == $(that).attr("WhenCheckedShow")) {
                    $("#" + value).removeClass("hidden");
                    $("#" + value + ">fieldset>div>input").each(function () {
                        console.log($(this).attr("name"));
                        $(this).attr("required","true");  
                    });
                    $("#" + value + ">fieldset>div>textarea").each(function () {
                        console.log($(this).attr("name"));
                        $(this).attr("required", "true");
                    });
                }
                else {
                    $("#" + value).addClass("hidden");                    
                    $("#" + value + ">fieldset>div>input").each(function () {
                        console.log($(this).attr("name"));
                        $(this).removeAttr("required");  
                    });
                    $("#" + value + ">fieldset>div>textarea").each(function () {
                        console.log($(this).attr("name"));
                        $(this).removeAttr("required");
                    });
                }
            });
        })
        var selected = function () {
            var result = "";
            $.each(linked, function (index, value) {
                if (value.toLowerCase().indexOf( @Html.Raw("'"+ Model.Value.ToLower()+ "'")  ) >= 0) {
                    result = value;
                    return;
                }
            });
            return result;
        };
        
        $.each(linked, function (index, value) {
            if (value == selected()) {
                $("#" + value).removeClass("hidden");
            }
            else {
                $("#" + value).addClass("hidden");
            }
        });      
    });
</script>