@model Enjoy.Core.UIElements.SwitchUIElement
<fieldset>
    <div class="form-group">        
        <div class="switch checkbox" data-on="primary" data-off="info">
            <label>
                <input id="chk_@Model.Id" name="chk_@Model.Name" type="checkbox" @(Model.Value ? "checked=checked" : "") />
                @Model.Text
                <input id="@Model.Id" name="@Model.Name" type="hidden" value="@Model.Value">
            </label>
        </div>
    </div>
</fieldset>
@using (Script.Foot())
{
    <script type="text/javascript">
        $(document).ready(function () {
            console.log("@Model.Value");
            $("#chk_@Model.Id").click(function () {
                
                var value = $(this).prop("checked");
                $("#@Model.Id").val(value);
                console.log($("#@Model.Id").val())
            });
        });
    </script>
}