@model Enjoy.Core.UIElements.SwitchUIElement
<fieldset>
    <div class="form-group  @(Model.Required?"required":"")">
        <label class="control-label">@Model.Text</label>
        <div class="switch" data-on="primary" data-off="info">
            <input id="@Model.Id" name="@Model.Name" type="checkbox" @(Model.Value.Equals("false") ? "" : "checked='checked'") />

            <input name="@Model.Name" type="hidden" value="@Model.Value">
        </div>
    </div>
</fieldset>
@using (Script.Foot())
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("input[type='checkbox']").click(function () {
                var name = $(this).val("name");
                $("#" + name).val($(this).attr("checked") === "checked");
            });
        });
    </script>
}