@model Enjoy.Core.UIElements.TextAreaUIElement
<fieldset>
    <div id="group_@Model.Id" name="group_@Model.Id" class="form-group  form-inline pull-left">
        <label>@Model.Text</label>
        <textarea id="@Model.Id" name="@Model.Id" type="text" class="form-control" placeholder="@Model.Placeholder">@Model.Value</textarea>
        <span class="required">*</span>
    </div>
</fieldset>