
@model Enjoy.Core.UIElements.TextUIElement
<fieldset>
    <div id="group_@Model.Id" name="group_@Model.Id" class="form-group @(Model.Required?"required":"")">
        
        <label class="control-label">@Html.Raw(Model.Text)</label>
        <input id="@Model.Id" name="@Model.Name" type="text" class="form-control" 
               value="@Model.Value" required="@Model.Required" placeholder="@Model.Placeholder" />
    </div>
</fieldset>